%div.container
  %div.page-header
    %h1 掉落统计
  %div.col-xs-12.col-md-6
    %div.panel-group
      %div.panel.panel-primary
        %div.panel-heading
          %h4.panel-title 海域
        %div.panel-body
          %ul.nav.nav-pills
            %li.active
              %a{:href => "#area1", :"data-toggle" => "tab"} 鎮守府海域
            %li
              %a{:href => "#area2", :"data-toggle" => "tab"} 南西諸島海域
            %li
              %a{:href => "#area3", :"data-toggle" => "tab"} 北方海域
            %li
              %a{:href => "#area4", :"data-toggle" => "tab"} 西方海域
            %li
              %a{:href => "#area5", :"data-toggle" => "tab"} 南方海域
            %li
              %a{:href => "#area6", :"data-toggle" => "tab"} 中部海域
            %li
              %a{:href => "#area31", :"data-toggle" => "tab"} 反撃！第二次SN作戦
            %li
              %a{:href => "#area32", :"data-toggle" => "tab"} 突入！海上輸送作戦
            %li
              %a{:href => "#area33", :"data-toggle" => "tab"} 出撃！礼号作戦
            %li
              %a{:href => "#area34", :"data-toggle" => "tab"} 開設！基地航空隊
          %div.tab-content.top15
            %div#area1.tab-pane.active
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/鎮守府正面海域.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner1-1.png", size: 250, protocol: "http")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/南西諸島沖.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner1-2.png", size: 250, protocol: "http")}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/製油所地帯沿岸.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner1-3.png", size: 250, protocol: "http")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/南西諸島防衛線.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner1-4.png", size: 250, protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/鎮守府近海.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner1-5.png", size: 500, protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/鎮守府近海航路.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner1-6.png", size: 500, protocol: "http")}
            %div#area2.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/カムラン半島.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner2-1.png", size: 250, protocol: "http")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/バシー島沖.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner2-2.png", size: 250, protocol: "http")}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/東部オリョール海.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner2-3.png", size: 250, protocol: "http")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/沖ノ島海域.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner2-4.png", size: 250, protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/沖ノ島沖.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner2-5.png", size: 500, protocol: "http")}
                %div.row
                  %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner0-5.png", size: 500, protocol: "http")}
            %div#area3.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/モーレイ海.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner3-1.png", size: 250, protocol: "http")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/キス島沖.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner3-2.png", size: 250, protocol: "http")}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/アルフォンシーノ方面.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner3-3.png", size: 250, protocol: "http")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/北方海域全域.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner3-4.png", size: 250, protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/北方AL海域.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner3-5.png", size: 500, protocol: "http")}
                %div.row
                  %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner0-5.png", size: 500, protocol: "http")}
            %div#area4.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/ジャム島攻略作戦.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner4-1.png", size: 250, protocol: "http")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/カレー洋制圧戦.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner4-2.png", size: 250, protocol: "http")}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/リランカ島空襲.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner4-3.png", size: 250, protocol: "http")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/カスガダマ沖海戦.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner4-4.png", size: 250, protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/カレー洋リランカ島沖.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner4-5.png", size: 500, protocol: "http")}
                %div.row
                  %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner0-5.png", size: 500, protocol: "http")}
            %div#area5.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/南方海域前面.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner5-1.png", size: 250, protocol: "http")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/珊瑚諸島沖.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner5-2.png", size: 250, protocol: "http")}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/サブ島沖海域.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner5-3.png", size: 250, protocol: "http")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/サーモン海域.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner5-4.png", size: 250, protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/サーモン海域北方.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner5-5.png", size: 500, protocol: "http")}
                %div.row
                  %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner0-5.png", size: 500, protocol: "http")}
            %div#area6.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/中部海域哨戒線.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner6-1.png", size: 250, protocol: "http")}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/MS諸島沖.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner6-2.png", size: 250, protocol: "http")}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/グアノ環礁沖海域.html"}
                      %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner6-3.png", size: 250, protocol: "http")}
                  %div.col-xs-6.col-no-padding
                    %img.img-responsive.block-center{:src => kcwiki_get_thumb("MapBanner0-0.png", size: 250, protocol: "http")}
            %div#area31.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/ショートランド沖.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-1Summer2015.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/ソロモン海.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-2Summer2015.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/南太平洋海域.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-3Summer2015.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/アイアンボトムサウンド.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-4Summer2015.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/西方海域戦線 カレー洋.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-5Summer2015.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/ソロモン海東部海域.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-6Summer2015.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/FS方面海域.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-7Summer2015.png", protocol: "http")}
            %div#area32.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/ショートランド泊地沖.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-1Autumn2015.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/コロネハイカラ島沖.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-2Autumn2015.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/コロネハイカラ島東方沖.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-3Autumn2015.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/西方海域戦線 ステビア海.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-4Autumn2015.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/バニラ湾沖.html"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-5Autumn2015.png", protocol: "http")}
            %div#area33.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/331/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-1Winter2016.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/332/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-2Winter2016.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/333/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-3Winter2016.png", protocol: "http")}
            %div#area34.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/341/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-1Spring2016.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/342/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-2Spring2016.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/343/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-3Spring2016.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/344/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-4Spring2016.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/345/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-5Spring2016.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/346/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-6Spring2016.png", protocol: "http")}
                %div.row
                  %a{:href => "/drop/map/347/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerE-7Spring2016.png", protocol: "http")}
  %div.col-xs-12.col-md-6
    %div.panel-group
      %div.panel.panel-primary
        %div.panel-heading
          %h4.panel-title 舰娘
        %div.panel-body Coming soon.
