%div.container
  %table{:style => "width:100%"}
    %tr
      %td 接收更新通知（Chrome / Firefox / Android）
      %td
        %div#sub.btn-group{:role => "group"}
          %button.btn.btn-default{:type => "button", :onclick => "javascript:subscribe()"} 订阅
          %button.btn.btn-primary{:type => "button", :onclick => "javascript:unsubscribe()"} 退订
%script{:src => "/scripts/pwa.js"}