%div.container
  %div#SOHUCS{:sid => key}
  %script{:src => "https://changyan.sohu.com/upload/changyan.js"}
  :javascript
    window.changyan.api.config({
      appid: 'cysYyPmeR',
      conf: 'prod_189e0c73fa15078ae3cd743d42cfbcd7'
    });
