%title= "poi-statistics @ 舰娘百科 × Poi#{locals[:title_append] || ''}"
- if locals[:location] == 'drop' && locals[:query_by] == 'map'
  %link{:href => "#{SiteConstants.map_images[map_id]}", :rel => "prefetch"}
