!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatiable", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title= "poi-statistics @ 舰娘百科 × poi#{locals[:title_append] || ''}"
    %link{:href => "//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "//cdn.bootcss.com/bootstrap-table/1.11.0/bootstrap-table.min.css", :rel => "stylesheet"}
    %link{:href => "//static.kcwiki.org/db/stylesheets/offcanvas.css", :rel => "stylesheet"}
    %link{:href => "//static.kcwiki.org/db/stylesheets/chartist.min.css", :rel => "stylesheet"}
    %link{:href => "//static.kcwiki.org/db/stylesheets/backTop.css", :rel => "stylesheet"}
    %link{:href => "//static.kcwiki.org/db/stylesheets/custom.css", :rel => "stylesheet"}
    %script{:src => "//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"}
    %script{:src => "//static.kcwiki.org/db/scripts/chartist.min.js"}
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{:src => "//cdn.bootcss.com/html5shiv/r29/html5.min.js"}
      %script{:src => "//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"}
    / WEB PUSH
    %link{:rel => "manifest", :href => "/manifest.json"}
  %body
    =haml :navbar, :locals => locals
    =haml :ad
    = yield
    %a#backTop Back To Top
    %footer
      %div.container
        %div 注：网站仍在开发中，数据每天更新一次。
        %div
          %span 感谢
          %a{:href => "https://github.com/poooi/poi"} poi
          %span 为本站提供数据支持。如果你在使用的过程中发现什么Bug 抑或是一些好的建议都欢迎在
          %a{:href => "https://github.com/kcwikizh/poi-statistics/issues"}Github Issue
          %span 上提交。
    %script{:src => "//static.kcwiki.org/poi-static/jquery.backTop.min.js"}
    %script{:src => "//static.kcwiki.org/poi-static/tableExport.min.js"}
    %script{:src => "//cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.min.js"}
    %script{:src => "//static.kcwiki.org/poi-static/bootstrap-table-filter.min.js"}
    %script{:src => "//static.kcwiki.org/poi-static/bs-table.js"}
    %script{:src => "//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    %script{:src => "//cdn.bootcss.com/bootstrap-table/1.11.0/bootstrap-table.min.js"}
    %script{:src => "//cdn.bootcss.com/bootstrap-table/1.11.0/extensions/export/bootstrap-table-export.min.js"}
    %script{:src => "//cdn.bootcss.com/bootstrap-table/1.11.0/extensions/filter/bootstrap-table-filter.min.js"}
    / IE10 viewport hack for Surface/desktop Windows 8 bug
    %script{:src => "//static.kcwiki.org/db/scripts/ie10-viewport-bug-workaround.js"}
    %script{:src => "//static.kcwiki.org/db/scripts/offcanvas.js"}

    :javascript
      $(document).ready(function() {
        $('#backTop').backTop({
            'position' : 500,
            'speed' : 500,
            'color' : 'black'
        });
      });
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-66145274-1', 'auto');
      ga('send', 'pageview');
