!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatiable", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    =haml :header, :locals => locals
    %link{:href => "/stylesheets/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/offcanvas.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/bootstrap-table.min.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/chartist.min.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/custom.css", :rel => "stylesheet"}
    %script{:src => "/scripts/jquery.min.js"}
    %script{:src => "/scripts/chartist.min.js"}
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{:src => "/scripts/html5shiv.min.js"}
      %script{:src => "/scripts/respond.min.js"}
  %body
    =haml :navbar, :locals => locals
    = yield
    %footer.footer
      %div.container
        %div 注：网站数据更新间隔大约为一小时。
        %div
          %span 感谢
          %a{:href => "https://github.com/poooi/poi"} Poi
          %span 为本站提供数据支持。如果你在使用的过程中发现什么Bug 抑或是一些好的建议都欢迎在
          %a{:href => "https://github.com/Gizeta/poi-statistics/issues"}Github Issue
          %span 上提交。
    %script{:src => "/scripts/bootstrap.min.js"}
    / IE10 viewport hack for Surface/desktop Windows 8 bug
    %script{:src => "/scripts/ie10-viewport-bug-workaround.js"}
    %script{:src => "/scripts/offcanvas.js"}
    %script{:src => "/scripts/bootstrap-table.min.js"}
    %script{:src => "/scripts/tableExport.min.js"}
    %script{:src => "/scripts/FileSaver.min.js"}
    %script{:src => "/scripts/bootstrap-table-export.js"}
