%nav.navbar.navbar-inverse.navbar-fixed-top
  %div.container
    %div.navbar-header
      %button.navbar-toggle.collapsed{:type => "button",
                                      :"data-toggle" => "collapse",
                                      :"data-target" => "#navbar-main",
                                      :"aria-expanded" => "false"}
        %span.sr-only 展开导航栏
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} poi-statistics
    %div#navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav.hover-trigger
        %li{:class => locals[:location] == "construction" ? "active" : nil}
          %a{:href => "/construction/"} 建造统计
        %li{:class => locals[:location] == "development" ? "active" : nil}
          %a{:href => "/development/"} 开发统计
        %li{:class => locals[:location] == "drop" ? "active" : nil}
          %a{:href => "/drop/"} 掉落统计
        %li{:class => ["dropdown", locals[:location] == "event" ? "active" : nil]}
          %a{:href => "/event-food2018/"} 活动限定统计(2018年食物迷你活动)
          %ul.dropdown-menu
            %li
              %a{:href => "/event-food2018/"} 2018年食物迷你活动
            %li
              %a{:href => "/event-april2018/"} 2018年四月限定
            %li
              %a{:href => "/event-sanma2017/"} 2017年秋刀鱼祭典
        %li
          %a{:href => "https://zh.kcwiki.org/"} 舰娘百科
        %li{:class => locals[:location] == "about" ? "active" : nil}
          %a{:href => "/about/"} 关于
        %li{:class => locals[:location] == "settings" ? "active" : nil}
          %a{:href => "/settings/"} 设置
