html, body {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.drop-map {
    position: absolute;
    display: none;
    left: 50%;
    margin-left: -300px;
    z-index: 10;
}

.table-like {
    display: table;
}

.table-like div {
    display: table-row;
}

.table-like div span {
    display: table-cell;
    text-align:right;
    padding: 5px 15px;
}
