body {
    font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

ul.nav.hover-trigger li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    margin-top: 70px;
    padding: 30px 0;
}

.table-like {
    display: table;
}

.table-like div {
    display: table-row;
}

.table-like div span {
    display: table-cell;
    text-align:right;
    padding: 5px 15px;
}

.tab-panel {
    border-top:0px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.top5 { margin-top:5px !important; }
.top7 { margin-top:7px !important; }
.top10 { margin-top:10px !important; }
.top15 { margin-top:15px !important; }
.top17 { margin-top:17px !important; }
.top30 { margin-top:30px !important; }

.col-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.block-center {
    margin: 0 auto;
}
.block-left {
    margin: 0 auto 0 0;
}
.block-right {
    margin: 0 0 0 auto;
}

.ct-label {
    font-size: 15px;
}
