body {
    font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    margin-top: 70px;
    padding: 30px 0;
}

.drop-map {
    position: absolute;
    display: none;
    left: 50%;
    margin-left: -300px;
    z-index: 10;
}

.table-like {
    display: table;
}

.table-like div {
    display: table-row;
}

.table-like div span {
    display: table-cell;
    text-align:right;
    padding: 5px 15px;
}

.tab-panel {
    border-top:0px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.ct-label {
    font-size: 15px;
}
