%div.container
  %div.row
    %ol.breadcrumb
      %li 主页
      %li 建造
      %li 舰娘
      %li= ConstData.ship[ship_id]["name"]
    %div
      %div#toolbar
      %table.table.table-hover.table-striped{:"data-toolbar" => "#toolbar",
                                             :"data-show-columns" => "true",
                                             :"data-show-export" => "true",
                                             :"data-detail-view" => "true",
                                             :"data-detail-formatter" => "detailFormatter"}
        %thead
          %tr
            %th{:"data-field" => "fuel",
                :"data-switchable" => "false",
                :"data-filterable" => "true"} 油
            %th{:"data-field" => "ammo",
                :"data-switchable" => "false",
                :"data-filterable" => "true"} 弹
            %th{:"data-field" => "steel",
                :"data-switchable" => "false",
                :"data-filterable" => "true"} 钢
            %th{:"data-field" => "bauxite",
                :"data-switchable" => "false",
                :"data-filterable" => "true"} 铝
            %th{:"data-field" => "devkit",
                :"data-switchable" => "false",
                :"data-filterable" => "true"} 开发资材
            %th{:"data-field" => "count",
                :"data-sortable" => "true",
                :"data-filterable" => "true"} 数量
            %th{:"data-field" => "usedCount",
                :"data-sortable" => "true",
                :"data-filterable" => "true"} 公式使用次数
            %th{:"data-field" => "hqLvRange"} 提督等级
            %th{:"data-field" => "constructionRate",
                :"data-formatter" => "constructionRateFormatter",
                :"data-sortable" => "true",
                :"data-filterable" => "true"} 建造率
      %div.busy-indicator
        %span.glyphicon.glyphicon-refresh.glyphicon-spin
        %span 少女祈祷中...
%script{:src => "/scripts/construction/ship.js"}
%script
  :plain
    $(document).ready(function() {
      requestData("#{ship_id}");
    });
=haml :changyan, :locals => { :key => "construction/ship/#{ship_id}" }
