%div.container
  %div.row
    %div.col-lg-12
      %h1.page-header About
      %p poi-statistics是一个开源自由、健壮成长的舰队Collection统计数据库。
      %p
        %span 目前处于
        %strong 正在开发
        %span 阶段。
      %p 计划中的项目包括掉落，建造，开发的统计以及分析，未来还将应用于Cut-In，连击触发率等大数据验证分析。
      %p
        %span 本项目目前由
        %strong poi开发组
        %span 和
        %strong kcwiki舰娘百科开发组
        %span 合作开发。
      %p 数据由POI浏览器自动采集，可以保证数据的真实性。
      %p 借助poi浏览器庞大的用户基数和源源不断的数据，保证了数据更加趋近于准确和稳定。我们有能力获得第一手的活动掉落情报。
      %p 网站每隔一小时自动更新一次数据，保证了数据的及时。
  %div.row
    %div.col-lg-12
      %h2.page-header Collaborator
    %div.col-md-6.text-center
      %div.row
        %a{:href => "http://zh.kcwiki.moe/", :target => "_blank"}
          %img{:width => 400, :height => 110, :src => "/images/kcwiki.png"}
      %div.col-xs-3.text-left
        %div 网站：
        %div
          %a{:href => "http://zh.kcwiki.moe/", :target => "_blank"} 舰娘百科
        %div
          %a{:href => "http://t.kcwiki.moe/", :target => "_blank"} 舰娘官推转发
        %div
          %a{:href => "http://w.kcwiki.moe/", :target => "_blank"} 日文wiki镜像
        %div
          %a{:href => "http://doc.kcwiki.moe/", :target => "_blank"} 舰娘百科Excel
      %div.col-xs-9.text-left
        %div 新浪微博：
        %iframe{:width => "100%",
                :height => 89,
                :frameborder => 0,
                :scrolling => "no",
                :src => "http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=1&isWeibo=0&isFans=0&uid=5664614383&verifier=c6b995e8&dpc=1"}
    %div.col-md-6.text-center
      %a{:href => "https://github.com/poooi/poi", :target => "_blank"}
        %img{:width => 400, :height => 110, :src => "/images/poi.png"}
      %div
        下载：
        %a{:href => "http://0u0.moe/poi", :target => "_blank"}
          http://0u0.moe/poi
  %div.row
    %div.col-lg-12
      %h2.page-header Plugin
    %div.col-lg-12
      %ul
        %li
          %p poi
          %p 已内置数据汇报插件。
        %li
          %p KanColleViewer
          %p
            %a{:href => "https://github.com/huoyaoyuan/KCVPlugins/releases", :target => "_blank"}
              下载插件(for KCV3.8.2)
        / ElectronicObserver(makai)： 有开发意向。
=haml :duoshuo, :locals => { :key => "about",
                             :title => "关于",
                             :url => "http://db.kcwiki.moe/about/" }
