%div.container
  数据收集整理中
=haml :duoshuo, :locals => { :key => "event-autumn2015/index",
                             :title => "活动统计(2015秋季活动)",
                             :url => "http://db.kcwiki.moe/event-autumn2015/index.html" }
